body
  background-color #F53D54
  font-family 'Average Sans' sans-serif
  font-size 30pt

a
  color #143375
  text-decoration none
  &:hover
    text-decoration underline

.tweet
  text-align center
  margin-top 50px
  padding-right 10px
  padding-left 10px

.help-text
  font-size 20pt
  margin-top 20px

h1
  text-align: left
  margin-top 20px
  margin-bottom 10px

boton()
  background-color #F2E85C
  border solid 2px black
  text-align center
  &:hover
    cursor pointer
    text-decoration underline

.opt
  float left
  min-width 55px
  margin-right 10px
  boton()

input
  border 0
  height 50px
  width 250px
  padding-right 10px
  padding-left 10px
  text-align center
  color black
  background-color white
  font-size 30pt

#firmante
  width 240px

#mencionado
  min-width 350px

#yo-firmo
  float right
  margin-top 30px
  boton()